
#topo {
    background-color: #4F6525;
    background-repeat: repeat-x;
    vertical-align: middle;
}
#logo {
    float: left;
}
.span6.logoT > img {
    margin: 2.5% 0 0 4%;
   }
   
#mountain {
    float: right;
}
div.top > img {
    float: left;
    margin: 6px 10px;
}
div.top {
    background-color: #4F6525;
    padding: 0%;
    border: 1px solid #4F6525;
}
div.boxes {
    border: 1px solid #DBD8D3;
    margin: 0 0 20px;
}
.bottom input, div.bottom textarea {
    margin: 0 0 0 8px;
    width: 67%;
}
.bottom {
    padding: 6% 6% 12%;
}
.bottom ul {
    margin: 5px 0 10px;
}

div.bottom {
    padding: 3% 5% 1% 0px;
}

div#leftColumn {
	min-width:380px;
}
div#rightColumn {
	min-width:380px;
}

@media (min-width:895px) and (max-width:1066px) {
	div#rightColumn {
		margin-left:5%;
	}
}
@media (min-width:768px) and (max-width:894px) {
	div#rightColumn {
		margin-left:8.56354%;
	}
}
div#dadosGeo p.textoBox {
    width: 22%;
}

p.textoBox {
    text-align: right;
}
.bottom input[type="radio"] {
    width: 15px;
    float:right;
}
input.tecAscensaoCheckbox {
    float:left;
    width: 12%;
}
ul.tecAscensaoUl {
    padding:0;
}

div#coodBase {
    border: 1px solid #DBD8D3;
    margin: -10px 0 10px 15px;
    padding: 0 0 4%;
    width: 96%;
}
.textoBase {
    background: none repeat scroll 0 0 #F5F4F0;
    font: 0.75em trebuchet ms;
    margin: -9px 0 4px 9px;
    width: 118px;
}
select#anoDaConquista {
    margin: 0 55% 0% 2%;
    width: 13%;
}
#materialSugeridoQuantidade {
    margin-left: 3%;
}
input#materialSugeridoNome {
	width: 44%;
}
div.noBorder {
	border:0;
}
div#captcha {
	text-align:right;ver
}
div#captcha textarea {
	width:50%;
}
div#fonte input {
	width:82%;
}
div#basicInfo input, div#basicInfo textarea {
    width: 95%;
}
.labelGraduacao {
    padding: 0;
    width: 40%;
}
.labels {
    float: left;
    text-align: right;
}
div#graduacao input {
    width: 40%;
}
#extensao {
    margin-bottom: 7%;
    
}
#checkboxSugerido {
	text-align: right;
}
#checkboxSugerido input[type="checkbox"] {
    width: 17px;
}
.align-right {
    text-align: right;
}
input, textarea {
    color: black;
    font: 1em trebuchet ms;
}
input[type='text'] {
	height:22px;
}
input, textarea {
    color: black;
    font-size: 0.8em;
}
button[type='submit']{
	background-image: url('../img/bt_salvar.png');
	width: 72px;
	height: 30px;
	background-repeat: no-repeat;
	border: none;
}

